*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    font-family: "Lora", serif; ;
    background-color: bla;
}
body{
   background-image: url(img/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
   background-size: cover;
   background-position: center center;
}
.btn-menu{
    background-color: rgba(202, 202, 202, 0.651);
    padding: 10px;
    height: 50px;
    position: relative;

}
.fale{
    background-color: white;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 12px;
    left: 265px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(img/free-whatsapp-155-721985.webp);
    background-position: center;
    background-size: cover;
    padding: 10px;
}
@media (min-width: 320px) and (max-width: 350px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 265px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 350px) and (max-width: 370px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 300px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 370px) and (max-width: 400px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 320px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 400px) and (max-width: 450px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 350px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 450px) and (max-width: 480px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 390px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 480px) and (max-width: 500px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 420px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 500px) and (max-width: 540px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 440px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 540px) and (max-width: 600px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 480px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 600px) and (max-width: 620px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 550px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 620px) and (max-width: 650px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 570px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 650px) and (max-width: 700px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 600px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 700px) and (max-width: 750px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 650px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 750px) and (max-width: 820px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 710px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 820px) and (max-width: 870px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 770px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 870px) and (max-width: 950px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 820px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 950px) and (max-width: 1060px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 910px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 1060px) and (max-width: 1200px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 1015px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1250px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 1150px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 1250px) and (max-width: 1280px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 1200px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}
@media (min-width: 1280px) and (max-width: 1600px){
    .fale{
        height: 30px;
        width: 30px;
        position: fixed;
        top: 12px;
        left: 1230px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(img/free-whatsapp-155-721985.webp);
        background-position: center;
        background-size: cover;
        padding: 10px;
    }
}

.logo{
    background-color: white;
    background-image: url(img/Logo-edycris-pp.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.329);
   
}

.main-bg{
    background-image: url(img/annie-spratt-yI3weKNBRTc-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-content{
    padding: 20px;
}


.menu {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}
.menu-content{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
.menu h1{
    position: relative;
    top: 90px;
    font-size: 4rem;
    font-family: "Lora", serif;
    text-shadow: 0px 0px 15px rgba(53, 53, 53, 0.521);
    color: rgb(36, 36, 36);
    text-decoration: underline;
}

.conteudo{
    display: flex;
    position: relative;
    top: 130px;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border-radius: 30px 30px 10px 10px;
    color: rgb(0, 0, 0);
    margin: 10px;
}
.conteudo > p {
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}
.conteudo h1 {
    font-size: 2.3rem;
}
.div{
    background-image: url(img/pexels-josh-hild-1270765-4270292\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
    border-radius: 30px;
}


@media (min-width: 300px) and (max-width: 430px){
    .div{
        background-color: rgb(0, 60, 255);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 300px;
        
    }
}
@media (min-width: 430px) and (max-width: 530px){
    .div{
        background-color: red;
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 400px;
    }
}
.main-bg2{
    background-image: url(img/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.conteudo2 h1{
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0px 15px rgba(245, 245, 245, 0.26);
}
.conteudo2{
    display: flex;
    position: relative;
    top: 250px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}


.conteudo2 > p{
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px;
    line-height: 40px;
}
.main-bg3 {
    background-image: url(img/annie-spratt-yI3weKNBRTc-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.conteudo3 h1{
    font-size: 2.4rem;
    color: #242424;
}
.conteudo3 p{
    font-size: 1.5rem;
    line-height: 40px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: black;
}
.conteudo3{
    display: flex;
    position: relative;
    top: 300px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.main-bg4{
    background-image: url(img/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.conteudo4 {
    display: flex;
    position: relative;
    top: 300px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.conteudo4 h1{
    font-size: 2.4rem;
    color: #ffffff;
}
.conteudo4 p{
    font-size: 1.5rem;
    line-height: 40px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}